<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"layout:decorate="~{layout/layout}">
<head>
	<title>投稿詳細</title>
	<!--CSS読込-->
	<link rel="stylesheet" th:href="@{/css/user/list.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="header border-bottom">
			<h1 class="h2">投稿詳細</h1>
		</div>
		<form id="user-detail-form" method="post" th:action="@{/user/detail}" class="form-signup" th:object="${userDetailForm}">
			<input type="hidden" th:field="*{name}"/>
			<!--詳細情報-->
			<table class="table table-striped table-borderd table-hover">
				<tbody>
					<tr>
						<th class="w-25">名前</th>
						<td th:text="*{name}"></td>
					</tr>
					<tr>
						<th>タイトル</th>
						<td th:text="*{title}"></td>
					</tr>
					<tr>
						<th>内容</th>
						<td th:text="*{content}"></td>
					</tr>
				</tbody>
			</table>
			<!--ボタンエリア-->
			<div class="text-center">
				<!--削除ボタン-->
				<button class="btn btn-danger" type="submit" name="delete">削除</button>
				<!--更新ボタン-->
				<!--<button class="btn btn-primary" type="submit" name="update">更新</button>-->
			</div>
		</form>
	</div>

</body>
</html>